{% extends "bootstrap/base.html" %}

{% block title %}ToDoアプリ{% endblock %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

{% block content %}
<div class="container">

    <h1 class="font-monospace">ToDoアプリ</h1>

    <form action="/" method="POST">
        <h3 class="font-monospace">ToDo追加</h3>
        <input type="text" name="add_ToDo" class="form-control" required>
        <input type="submit" value="追加" class="btn btn-primary mt-5">
    </form>

    <hr>

    <form action="/" method="POST">
        <h3 class="font-monospace">ToDo削除</h3>
        {% for ToDo_list in ToDo_lists %}
        {% if ToDo_list != None and ToDo_list !="" %}
        <label class="form-check-label font-monospace" for="formCheckDefault">
            <input type="checkbox" name="check_ToDo" value="{{ ToDo_list }}" class="form-check-input">{{ ToDo_list }}
        </label>
        <br>
        {% endif %}
        {% endfor %}

        <input type="submit" value="完了" class="btn btn-primary mt-5">
    </form>

</div>
{% endblock %}